<!DOCTYPE html>
<html>
    {% include "/partials/header.html" %}
    <body>
      <div class="container">
          <h2>{{ client.getName }}</h2>
          <hr>
            <form action = "/clients/{{ client.getId }}" method="post">
              <div class="form-group">
                <input name="_method" type="hidden" value="patch">

                <label for="client-name">Rename your client:</label>
                <input id="client-name" name="client-name" type="text">
              </div><br>

                <button class="btn btn-info" type="submit">Update</button>
            </form><br>
            <form action="/clients/{{ client.getId }}" method="post">
                <input name="_method" type="hidden" value="delete">
                <button class="btn btn-danger" type="submit">Delete this client</button>
            </form>
      </div>
    </body>
</html>
