<html>
    <head>
        <title>Hair Salon</title>
    </head>
    <body>
        <h1>Welcome to To My Hair Salon</h1>

        <p>Create a new Stylist:</p>

        <form action="/stylists" method="post">
            <label for="stylist-name">Stylist Name:</label>
            <input id="stylist-name" name="stylist-name" type="text">

            <button type="submit">Add stylist</button>
        </form>

        {% if stylists is not empty %}
            <p>Here are all your categories:</p>
            <ul>
                {% for stylist in stylists %}
                    <li><a href="/stylists/{{ stylist.getId }}">{{ stylist.getName }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
          <p>There are no stylists yet!</p>
        {% endif %}

    </body>
</html>
