<html>
    <head>
        {% include "/partials/header.html" %}
    </head>
    <body>
        <div class="container">
            <h1 class="title">Welcome to To Philly Cutz</h1>
            <div class="row">
                <div class="col-sm-6">
                    <div class="barbers">
                        {% if stylists is not empty %}
                            <p>Barber Team:</p>
                            <ul>
                                {% for stylist in stylists %}
                                    <li><a href="/stylists/{{ stylist.getId }}">{{ stylist.getName }}</a></li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>There are no barbers yet!</p>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-6">
                    <h3>Create a New Barber:</h3>
                    <form action="/stylists" method="post">
                        <div class="form-group">
                            <label for="stylist-name">Barber Name:</label>
                            <input id="stylist-name" name="stylist-name" type="text">
                        </div>
                        <button class="btn btn-info" type="submit">Add barber</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
