<!DOCTYPE html>
<html>
  <head>
    <title>Edit Stylist</title>
  </head>
  <body>
    <form action="/stylists/{{ stylist.getId }}" method="post">
      <input name="_method" type="hidden" value="patch">

      <label for="stylist-name">Rename your Stylist:</label>
      <input id="stylist-name" name="stylist-name" type="text">

      <button type="submit">Update</button>
    </form>
  </body>
</html>
