* {
  box-sizing: border-box;
}
body {
  color: #fcfcfc;
  background-color: #181819;
}

@font-face {
  font-family: TitleFont;
  src: url(/css/FugazOne-Regular.ttf);
}

.title {
  text-align: center;
  font-family: TitleFont;
  margin-top: 100px;
  margin-bottom: 50px;
}

.barbers {
  background-color: #fcfcfc;
  color: #181819;
  width: 30%;
  border-radius: 15px;
  padding: 10px;
}

input {
  color: black;
}

img
{
  width: 15%;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 70px;
  margin: 0;
  padding: 0;
  background-color: #26A9E0;
  color: #ffffff;
  z-index: 1;
}

.row {
  margin-left: 200px;
  margin-top: 75px;
}

.b-name {
  color: #afedeb;
}

.client-list {
  color: #bec19e;
}

a {
  color: inherit;
}
